/*
font-family: 'Alkatra', cursive;
font-family: 'Lato', sans-serif;
*/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    color: #3b3a3a;
}

.heading {
    margin: 5rem 0 3rem 0;
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.heading span {
    color: #ffc40a;
}

main {
    display: flex;
    flex-direction: column;
}

/* Header */
/* ------ */

.logo {
    padding: 5rem;
    font-family: 'Alkatra', cursive;
    font-size: 3rem;
    text-align: center;
    background-color: #aaa8a8;
}

.logo:before {
    content: '';
    width: 50rem;
    height: 12px;
    background: #d3a408;
    position: absolute;
    top: 24%;
    left: 24%;
}

.logo img {
    height: 5rem;
    margin-right: 1rem;
    vertical-align: top;
}

.navigation {
    text-align: center;
    border-bottom: 1px solid #aaa8a8;
}

.list {
    width: 80%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #aaa8a8;
    border-bottom: 1px solid #aaa8a8;
    margin-bottom: 1em;
}

.link {
    margin-left: 7rem;
    padding: 1rem 0;
}

.link:first-child {
    margin-left: 0;
}

.item {
    font-size: 1.5rem;
    text-decoration: none;
    color: #2a2929;
    text-transform: uppercase;
}

.item:hover {
    color: #ffc40a;
}

/* HERO */
/* ------ */

.hero-image {
    background-image: linear-gradient(rgba(60, 60, 60, 0.8), rgba(60, 60, 60, 0.8)), url(./img/CleverChef-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background-color: #aaa8a855;
    padding: 2rem 5rem;
}

.hero-text h2 {
    font-size: 3rem;
    font-family: 'Alkatra', cursive;
    color: #ffc40a;
}

/* SECTION ABOUT */
/* ------ */

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about {
    max-width: 100rem;
    margin: 0 3rem;
}

.about-image {
    width: 65%;
    margin-right: 0;
}

.about-image img{
    width: 90%;
    border: 1px solid #aaa8a8;
    padding: 1rem;
    margin: 1rem;
}


.about-feature {
    width: 50%;
    border: 1px solid #aaa8a8;
    padding: 1rem 5rem;
    margin: 1rem;
}


.about-feature h2 {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
}

.about-text h3 {
    font-size: 1.1rem;
    font-weight: 560;
}

.about-text {
  text-align: center;
}

.about-text p {
    font-size: 0.8rem;
}

/* SECTION GALLERY */
/* ------ */

.gallery {
    padding: 7rem 2rem;
    background-color: #aaa8a8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}

.galery-item {
    border: 1px solid #101010;
    padding: 1rem;
}

.galery-item img {
    width: 30rem;
    border-radius: 0.3rem;
}

/* SECTION COOCKING SCHOOL */
/* ------ */

.school {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 10rem 5rem 10rem;
}

.school h2 {
    font-size: 1.8rem;
    color: #d3a408;
}

.school-video {
    margin-top: 4rem;
}

.school h3 {
    font-size: 1.7rem;
    color: #d3a408;
}


.school p {
    padding: 1rem 5rem;
    font-size: 1.3rem;
}

button {
    background-color: #ffc40a;
    color: #fff;
    padding: 1rem 5rem;
    font-size: 1rem;
}

button:hover {
    background-color: #d3a408;

}

/* SECTION FOOTER */
/* ------ */

footer {
    padding: 5rem 0;
    background-color: #3b3a3a;
    color: #fff;
    font-size: 1.5rem;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-copyright span {
    color: #d3a408;
}

.footer-copyright span:hover {
    color: #ffc40a;
}

.footer-copyright a {
  color: #d3a408;
}

